.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
}

.navbar img {
    max-width: 100%;
    height: auto;
    max-height: 50px; /* Adjust this value as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar img {
        max-height: 40px;
    }
}

@media (max-width: 480px) {
    .navbar img {
        max-height: 30px;
    }
}
